body { background: #ffefec; }
* { color: #ff2725; }
.zine_all_wrap { background: #ffefec; max-width: 400px; width: 100%; margin: 0 auto ; padding: 80px 16px; }
.zine_con_wrap { display: grid; grid-template-columns: repeat(1,1fr); gap: 8px; }
.zine_con_all_wrap { margin: 0 auto; }
.zine_con { background: #ffefec; overflow: hidden; }
.zine_con img { object-fit: cover; }
