

.main_all_wrap { scroll-behavior: smooth; margin: 0; padding: 0; height: 100%; overflow: hidden; -webkit-overflow-scrolling: touch; scrollbar-width: none; }
body{background: #ffefec; }
body::-webkit-scrollbar { display: none; }
.header { position: relative; height: 0; }
.header a { height: 50px; line-height: 50px; width: 100%; text-align: center; position: fixed; top: 0; left: 50%; transform: translate(-50%, 0); z-index: 999; text-transform: uppercase; }

/* 메인페이지 */
.hero-section { position: relative; height: 100vh; overflow: hidden; }
.main-video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; opacity: 0; transition: opacity 1s ease; z-index: 2; }
.split { position: absolute; width: 100%; height: 50%; background: #ffefec; z-index: 3; transition: transform 1s ease; }
.split.top { top: 0; }
.split.bottom { bottom: 0; }
* { color: #ff2725; font-family: 'Poppins','pretendard' }
.center-content { width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999; font-size: 6rem; pointer-events: none; transition: color 0.6s ease; color: #ff2725 !important; font-family: 'Poppins','pretendard' sans-serif; }
.zine_all_wrap { background: #ffefec; max-width: 400px; width: 100%; margin: 0 auto ; padding: 80px 16px; }
.zine_con_wrap { display: grid; grid-template-columns: repeat(1,1fr); gap: 24px; }
.zine_con_all_wrap { margin: 0 auto; }
.zine_con { background: #ffefec; overflow: hidden; }
.zine_con img { width: 100%; object-fit: cover; }
.marquee-wrapper { position: relative; width: 100%; overflow: hidden; background: transparent; height: 10rem; display: flex; align-items: center; }
.marquee-track { display: flex; animation: scrollLeft 20s linear infinite; }
.marquee-track span { white-space: nowrap; padding-right: 3rem; transition: color 0.6s ease; color: #ff2725; }
.marquee-track.white span { color: #fff; }
@keyframes scrollLeft {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}
/* 서브페이지 */
.sub_all_wrap{padding: 50px 16px; }
.sub_banner { height: 80vh; width: 100%; max-width: 400px; margin: 0 auto;}
.sub_banner_01{background: url(/jay_zine/img/burn_thumb_01.jpg)no-repeat center center/cover;}
.sub_banner_02{background: url(/jay_zine/img/burn_thumb_02.jpg)no-repeat center center/cover;}
.sub_banner_03{background: url(/jay_zine/img/burn_thumb_03.jpg)no-repeat center center/cover;}
.con_all_wrap {width: 100%; max-width: 400px; margin: 0 auto;}