.zine_all_wrap {padding:80px 16px; max-width: 400px; width: 100%; margin: 0 auto ; padding: 0 20px;}
.zine_con_wrap {display: grid; grid-template-columns: repeat(3,1fr); gap: 8px;} 
.zine_con_all_wrap{ margin: 0 auto;}
.zine_con{background: #eee; height: 100px;}